@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Amaranth";
    src: url("fonts/Amaranth/Amaranth-Regular.ttf") format("truetype");
    font-weight: 400;
}
  
@font-face {
    font-family: "Amaranth";
    src: url("fonts/Amaranth/Amaranth-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Amaranth";
    src: url("fonts/Amaranth/Amaranth-Bold.ttf") format("truetype");
    font-weight: 700;
}
  
@font-face {
    font-family: "Amaranth";
    src: url("fonts/Amaranth/Amaranth-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
}

body, header, main, footer, div, p, span, img, a, cite, label {
    max-width: 100%;
    position: relative;
    display: block;
    box-sizing: border-box;
    font-family: Lato, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;

}

html {
    font-size: 62.5%;
}


.phrase {
    font-style: italic;
    font-weight: bold;
    font-size: clamp(2rem, 3vw, 3.0rem);
}

.author {
    color: #787878;
    font-size: clamp(1.5rem, 2.5vw, 2.0rem);
}


.language-link-container span {
    font-size: clamp(1.4rem, 3vw, 2.5rem); 
}

.instagram-link, .whatsapp-num, .email {
    font-size: clamp(1.8rem, 3vw, 2.5rem); 
}

.copyright {
    font-size: clamp(1.8rem, 3vw, 2.5rem); 
}


body {
    height: 100vh;
}



.main {
    text-align: center;
}

.phrase-container {
    width: 85vw;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.phrase {
    display: inline;
    text-align: left;
    
}

.author {
    display: inline;
    text-align: left;
    margin-left: 2vw;
}

.in-construction-container {
    margin: 0 auto;
    padding: 5vh 0;
    width: 100%;
    max-width: 1600px;
}


.contact-container {
    width: 85vw;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 2vh 2vw;
    border-radius: 10px 10px 10px 10px;
}

.contact-item-container {
    display: flex;
    align-items: center;
}


.last-line-container {
    width: 85vw;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap: 10vw;
}

.language-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}


.language-link-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header-logo-img {
    width: 100vw;
    max-width: 1200px;
    min-width: 100px;
    margin: 0 auto;
    padding: 5vh 5vw;
}

.in-construction-img {
    width: 100%;
}


.icon {
    width:10vw ;
    max-width: 40px;
    min-width: 35px;
    border-radius: 10% 10%;
    margin-right: 5px;
}

